<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur3" >

  <!-- common stuff -->
  <!--xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" /--> <!--Nicolas commented this-->

  <!-- ur3 -->
  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />
  
  <!--environment-->
  <xacro:include filename="$(find ur_description)/urdf/environment.urdf.xacro"/>

  <!--gripper-->
  <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.xacro" />
  
  <!-- arm -->
  <xacro:ur3_robot prefix="" joint_limited="false"/>
  

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
  
  <xacro:robotiq_85_gripper prefix="" parent="ee_link" >
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:robotiq_85_gripper>
    
</robot>
